<p id="notice"><%= notice %></p>

<p>
  <strong>Commentedtext:</strong>
  <%= @comment.commentedtext %>
</p>

<p>
  <strong>Author:</strong>
  <%= @comment.author %>
</p>

<p>
  <strong>Blog post:</strong>
  <%= @comment.blog_post %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
